<%= form_for(@quote) do |f| %>
  <% if @quote.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@quote.errors.count, "error") %> prohibited this quote from being saved:</h2>

      <ul>
      <% @quote.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :salesperson_id %><br>
    <%= f.collection_select :salesperson_id, Salesperson.all, :id, :name %>
  </div>
  <div class="field">
    <%= f.label :customer_id %><br>
    <%= f.collection_select :customer_id, Customer.all, :id, :first_name %>
  </div>
  <div class="field">
    <%= f.label :car_id %><br>
    <%= f.collection_select :car_id, Car.all, :id, :model %>
  </div>
    <p>Price of the Car: <span id="markup"></span></p>

  <div class="field">
    <%= f.label :sale_tax %><br>
    <%= f.text_field :sale_tax %>
  </div>
  <div class="field">
    <%= f.label :final_price %><br>
    <%= f.text_field :final_price %>
  </div>
  <div class="field">
    <%= f.label :sold %><br>
    <%= f.check_box :quote_status %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
