<p id="notice"><%= notice %></p>

<h1>Quotes</h1>

<table>
  <thead>
    <tr>
      <th>Quote Id</th>
      <th>Salesperson</th>
      <th>Customer</th>
      <th>Car</th>
      <th>Car price</th>
      <th>Sale tax</th>
      <th>Final price</th>
      <th>Quote status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @quotes.each do |quote| %>
      <tr>
        <td><%= link_to quote.id, quote_path(quote) %></td>
        <td><%= quote.salesperson.name %></td>
        <td><%= quote.customer.first_name %></td>
        <td><%= quote.car.car_details %></td>
        <td><%= number_to_currency(quote.car.cal_markup) %></td>
        <td><%= number_to_currency(quote.sale_tax) %></td>
        <td><%= number_to_currency(quote.final_pri) %></td>
        <td><%= quote.update_status %></td>
        <td><%= link_to 'Show', quote %></td>
        <td><%= link_to 'Edit', edit_quote_path(quote) %></td>
        <td><%= link_to 'Destroy', quote, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Quote', new_quote_path %>
