<p id="notice"><%= notice %></p>

<p>
  <strong>Salesperson:</strong>
  <%= @quote.salesperson.name %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @quote.customer.first_name %>
</p>

<p>
  <strong>Car:</strong>
  <%= @quote.car.model %>
</p>

<p>
  <strong>Car price:</strong>
  <%= number_to_currency(@quote.car_price) %>
</p>

<p>
  <strong>Sale tax:</strong>
  <%= number_to_currency(@quote.sale_tax) %>
</p>

<p>
  <strong>Final price:</strong>
  <%= number_to_currency(@quote.final_pri) %>
</p>

<p>
  <strong>Quote status:</strong>
  <%= @quote.update_status %>
</p>

<%= link_to 'Edit', edit_quote_path(@quote) %> |
<%= link_to 'Back', quotes_path %>
