<p id="notice"><%= notice %></p>

<h1>Salespeople</h1>

<table>
  <thead>
    <tr>

      <th>Salesperson Id</th>
      <th>Name</th>
      <th>Last name</th>
      <th>Phone</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @salespeople.each do |salesperson| %>
      <tr>
        <td><%= link_to salesperson.id, salesperson_path(salesperson) %></td>
        <td><%= salesperson.name %></td>
        <td><%= salesperson.last_name %></td>
        <td><%= salesperson.phone %></td>
        <td><%= link_to 'Show', salesperson %></td>
        <td><%= link_to 'Edit', edit_salesperson_path(salesperson) %></td>
        <td><%= link_to 'Destroy', salesperson, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Salesperson', new_salesperson_path %>
