<center><h1>World of Cars</h1></center>
<center><%= image_tag("car-04.jpg", alt: "Car Picture", width: "80%")%></center>
<center><%= image_tag("car-03.jpg", alt: "Car Picture", width: "80%")%></center>