<%= form_for(@loan) do |f| %>
  <% if @loan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@loan.errors.count, "error") %> prohibited this loan from being saved:</h2>

      <ul>
      <% @loan.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :quote_id %><br>
    <%= f.collection_select :quote_id, Quote.all, :id, :quote_info, include_blank:true %>
  </div>
  <div class="field">
    <%= f.label :down_payment %><br>
    <%= f.text_field :down_payment %>
  </div>
  <div class="field">
    <%= f.label :loan_amount %><br>
    <%= f.text_field :loan_amount %>
  </div>
  <div class="field">
    <%= f.label :loan_term %><br>
    <%= f.select :loan_term, options_for_select(term), include_blank:true %>
  </div>
  <div class="field">
    <%= f.label :interest_rate %><br>
    <%= f.text_field :interest_rate %>
  </div>
  <div class="field">
    <%= f.label :monthly_payment %><br>
    <%= f.text_field :monthly_payment %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
