<p id="notice"><%= notice %></p>

<h1>Loans</h1>

<table>
  <thead>
    <tr>
      <th>Loan Id</th>
      <th>Quote</th>
      <th>Down payment</th>
      <th>Loan amount</th>
      <th>Loan term</th>
      <th>Interest rate</th>
      <th>Monthly payment</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @loans.each do |loan| %>
      <tr>
        <td><%= link_to loan.id, loan_path(loan) %></td>
        <td><%= loan.quote.quote_info %></td>
        <td><%= number_to_currency(loan.down_payment) %></td>
        <td><%= number_to_currency(loan.loan_amount) %></td>
        <td><%= loan.loan_term %></td>
        <td><%= number_to_percentage(loan.interest_rate) %></td>
        <td><%= number_to_currency(loan.monthly_payment) %></td>
        <td><%= link_to 'Show', loan %></td>
        <td><%= link_to 'Edit', edit_loan_path(loan) %></td>
        <td><%= link_to 'Destroy', loan, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Loan', new_loan_path %>
