<p id="notice"><%= notice %></p>

<p>
  <strong>Quote:</strong>
  <%= @loan.quote.quote_info %>
</p>

<p>
  <strong>Down payment:</strong>
  <%= number_to_currency(@loan.down_payment) %>
</p>

<p>
  <strong>Loan amount:</strong>
  <%= number_to_currency(@loan.loan_amount) %>
</p>

<p>
  <strong>Loan term:</strong>
  <%= @loan.loan_term %>
</p>

<p>
  <strong>Interest rate:</strong>
  <%= number_to_percentage(@loan.interest_rate) %>
</p>

<p>
  <strong>Monthly payment:</strong>
  <%= number_to_currency(@loan.monthly_payment) %>
</p>

<%= link_to 'Edit', edit_loan_path(@loan) %> |
<%= link_to 'Back', loans_path %>
