
<h2>REVENUE REPORT</h2>
<table>
  <thead>
  <tr>
    <th>Gross Revenue</th>
    <th>Net Profit</th>
    <th>Total Sales Tax</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>

      <tr>

        <td><%= number_to_currency(Quote.where(:quote_status => true).sum(:final_price)) %></td>
        <td><%= number_to_currency((Quote.where(:quote_status => true).sum(:final_price))- (Car.where(:car_status => true).sum(:price)))  %></td>
        <td><%= number_to_currency(Quote.where(:quote_status => true).sum(:sale_tax)) %></td>


      </tr>

  </tbody>
</table>
