
<h2>CAR INVENTORY REPORT</h2>
<table>
  <thead>
  <tr>
    <th>Car Id</th>
    <th>Model</th>
    <th>Color</th>
    <th>Vin</th>
    <th>Price</th>
    <th>Car status</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @cars.each do |car| %>
      <tr>
        <td><%= link_to car.id, car_path(car) %></td>
        <td><%= car.model %></td>
        <td><%= car.color %></td>
        <td><%= car.vin %></td>
        <td><%= number_to_currency(car.price) %></td>
        <td><%= car.update_status  %></td>

      </tr>
  <% end %>
  </tbody>
</table>
