<p id="notice"><%= notice %></p>

<h1>Cars</h1>


<%= form_tag(cars_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search Cars" %>
    <%= submit_tag "Search", :name => nil %>
<% end %>


<table>
  <thead>
    <tr>
      <th>Car Id</th>
      <th>Model</th>
      <th>Color</th>
      <th>Vin</th>
      <th>Price</th>
      <th>Car status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cars.each do |car| %>
      <tr>
        <td><%= link_to car.id, car_path(car) %></td>
        <td><%= car.model %></td>
        <td><%= car.color %></td>
        <td><%= car.vin %></td>
        <td><%= number_to_currency(car.price) %></td>
        <td><%= car.update_status %></td>
        <td><%= link_to 'Show', car %></td>
        <td><%= link_to 'Edit', edit_car_path(car) %></td>
        <td><%= link_to 'Destroy', car, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Car', new_car_path %>
