<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
  <div id="header">
    <%= link_to "Home", controller: "home", action: "index" %>
    <%= link_to 'Sales Person', salespeople_path %>
    <%= link_to 'Customers', customers_path %>
    <%= link_to 'Cars', cars_path %>
    <%= link_to 'Quotes', quotes_path %>
    <%= link_to 'Loans', loans_path %>
    <%= link_to "Inventory", controller: "inventory", action: "index" %>
    <%= link_to "Revenue", controller: "revenue", action: "index" %>
  </div>


  <%= yield %>

  </body>
</html>
